.navigation {
  z-index: 1;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.navigation__elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.navigation__logo {
  height: 24px;
}

.navigation__links {
  margin-top: 32px;
  margin-bottom: 32px;
}

a.navigation__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: "Poppins", "Inter", "Arial", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  color: #9F9F9F;
  text-decoration: none;
  margin-right: 16px;
}
@media (min-width: 320px) {
  a.navigation__link {
    margin-right: calc(0.9993753904vw + 12.8019987508px);
  }
}
@media (min-width: 1921px) {
  a.navigation__link {
    margin-right: 32px;
  }
}
@media (min-width: 4096px) {
  a.navigation__link {
    margin-right: 32px;
  }
}
a.navigation__link:hover {
  color: #1D222D;
}
a.navigation__link:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 1px;
  left: 0;
  border-bottom: 3px solid #ED4113;
  z-index: 1;
}

.side__ctas {
  display: flex;
  flex-direction: row;
}

.side__ctas a {
  font-family: "Poppins", "Inter", "Arial", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.login {
  margin-right: 16px;
  color: #9F9F9F;
}
.login:hover {
  color: #1D222D;
}

a.get-started {
  margin-left: 16px;
  color: white !important;
  background-color: #1D222D;
  padding: 8px 16px 8px 16px;
  border-radius: 50px;
}
a.get-started:hover {
  background-color: #ED4113;
}

.header {
  position: relative;
  text-align: center;
  color: #fff;
}

.header__background {
  width: 100%;
  height: auto;
}

.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__title {
  font-family: "Poppins", "Inter", "Arial", "sans-serif";
  color: #fff;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.25;
}
@media (min-width: 320px) {
  .header__title {
    font-size: calc(1.9987507808vw + 33.6039975016px);
  }
}
@media (min-width: 1921px) {
  .header__title {
    font-size: calc(0.367816092vw + 64.9342528736px);
  }
}
@media (min-width: 4096px) {
  .header__title {
    font-size: 80px;
  }
}

.header__desc {
  margin-top: 8px;
  font-family: "Inter", "Poppins", "Inter", "Arial", "sans-serif";
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 64px;
}

a.header__button {
  font-family: "Poppins", "Inter", "Arial", "sans-serif";
  font-weight: 700;
  font-size: 16px;
  color: #1D222D;
  background-color: white;
  text-decoration: none;
  border: none;
  padding: 16px 40px;
  border-radius: 50px;
}
a.header__button:hover {
  background: #ED4113;
  color: #fff;
  cursor: pointer;
}
a.header__button:active {
  background: #fff;
  color: #1D222D;
  cursor: pointer;
}

.start {
  padding: 40px;
  background-color: #eee;
  margin-top: -3px;
}
@media (min-width: 320px) {
  .start {
    padding: calc(4.9955396967vw + 24.0142729706px);
  }
}
@media (min-width: 1441px) {
  .start {
    padding: 96px;
  }
}
@media (min-width: 4096px) {
  .start {
    padding: 96px;
  }
}

.start__free {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.start__free-text {
  width: 50%;
}

.start__free-cta {
  width: 30%;
  height: auto;
  background-color: #1D222D;
  border-radius: 8px;
  padding: 24px;
}
@media (min-width: 320px) {
  .start__free-cta {
    padding: calc(2.1409455843vw + 17.1489741302px);
  }
}
@media (min-width: 1441px) {
  .start__free-cta {
    padding: 48px;
  }
}
@media (min-width: 4096px) {
  .start__free-cta {
    padding: 48px;
  }
}

.start__free {
  width: 720px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.start__free-title {
  margin-bottom: 32px;
  font-family: "Poppins", "Inter", "Arial", "sans-serif";
  font-size: 24px;
  font-weight: 500;
  color: #1D222D;
  line-height: 1.25;
}
@media (min-width: 320px) {
  .start__free-title {
    font-size: calc(0.9993753904vw + 20.8019987508px);
  }
}
@media (min-width: 1921px) {
  .start__free-title {
    font-size: calc(0.7356321839vw + 25.8685057471px);
  }
}
@media (min-width: 4096px) {
  .start__free-title {
    font-size: 56px;
  }
}

.start__free-desc {
  font-family: "Inter", "Poppins", "Inter", "Arial", "sans-serif";
  font-weight: 16px;
  color: #9F9F9F;
  font-weight: 500;
  line-height: 1.7;
}

.start__free-cta__title {
  margin-bottom: 8px;
  font-family: "Poppins", "Inter", "Arial", "sans-serif";
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  line-height: 1.25;
}
@media (min-width: 320px) {
  .start__free-cta__title {
    font-size: calc(0.4996876952vw + 22.4009993754px);
  }
}
@media (min-width: 1921px) {
  .start__free-cta__title {
    font-size: 32px;
  }
}
@media (min-width: 4096px) {
  .start__free-cta__title {
    font-size: 32px;
  }
}

.start__free-cta__desc {
  font-family: "Inter", "Poppins", "Inter", "Arial", "sans-serif";
  font-weight: 16px;
  color: #9F9F9F;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 40px;
}

.start__free-cta__button {
  color: white;
  text-decoration: none;
  font-family: "Poppins", "Inter", "Arial", "sans-serif";
  background-color: #ED4113;
  padding: 8px 16px 8px 16px;
  border-radius: 50px;
}
.start__free-cta__button:hover {
  background-color: #fff;
  color: #1D222D;
}

/*# sourceMappingURL=style.css.map */
